.range.blue::-webkit-slider-thumb {
    border-color: rgb(59,173,227);
 }
 
 .range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87,111,230);
 }
 
 .range.purple::-webkit-slider-thumb {
    border-color: rgb(152,68,183);
 }
 
 .range.pink::-webkit-slider-thumb {
    border-color: rgb(255,53,127);
 }
 
 .range.blue::-moz-range-thumb {
    border-color: rgb(59,173,227);
 }
 
 .range.ltpurple::-moz-range-thumb {
    border-color: rgb(87,111,230);
 }
 
 .range.purple::-moz-range-thumb {
    border-color: rgb(152,68,183);
 }
 
 .range.pink::-moz-range-thumb {
    border-color: rgb(255,53,127);
 }
 
 input[type=range]::-webkit-slider-thumb:active {
   cursor: -webkit-grabbing;
 }
 
 input[type=range]::-moz-range-thumb:active {
   cursor: -moz-grabbing;
 }