.library{
    position: fixed;
    transform: translateX(-100%);
    transform: all 0.5s ease;
    opacity: 0;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    transition: all 0.5s ease;
    background-color: #1e2a38;
    box-shadow: 2px 2px 50px #162c49a1;
    overflow: scroll;
    
    .heading{
        font-size:2.5rem ;
        padding: 20px 35px 25px;
    }
}

.library-song{
    img{
        width: 20%;
    }
    display: flex; 
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    &:hover{
        background: #3f5268;
    }
}

.desciption{
    padding-left: 1rem ;
    h3{
        font-size:1.2rem ;
    }
    h4{
        font-size: 0.7rem;
    }
}
*{
    scrollbar-width:thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background-color:rgba(155,155,155,0.5);
    border-radius: 20px ;
    border: transparent;
}
.selected{
    background:#43718d;
}

.active-library{
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width : 768px){
    .library{
        width: 100%;
    }
}